html,
input,
textarea {
  background-color: $cruz-color-dark-grey;
  font-family: $police-base;
}

h1,
h2,
h3,
h4 {
  color: white;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

#root {
  overflow: hidden;
}

ul,
ol {
  list-style: none;
}

html {
  font-size: 10px;
}

.collapse-checkbox {
  display: none;
}

strong {
  background: -webkit-linear-gradient(#eee, #eee);
  -webkit-background-clip: text;
  -webkit-text-stroke: 4px transparent;
  text-transform: uppercase;
  color: $cruz-color-dark-grey;
  letter-spacing: 0.2rem;
  padding-left: 0.3rem;

  @media (max-width: 450px) {
    -webkit-text-stroke: 2px transparent;
  }
}

a {
  text-decoration: none;
}

h2 {
  transition: 0.3s;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 8rem;
  text-align: center;
  color: $cruz-color-white;
  padding-bottom: 5rem;

  @media (max-width: 760px) {
    font-size: 7rem;
  }

  @media (max-width: 500px) {
    font-size: 4rem;
  }
}

h3 {
  transition: 0.3s;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2.5rem;
  color: $cruz-color-white;
}

.alert {
  border-radius: 5px;
  width: 50%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5rem 0 0 0;

  .flash-message {
    color: white;
    font-size: 2rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    margin: 1rem 0;
  }

  &.alert-success {
    background: linear-gradient(45deg, rgb(70, 192, 70), rgb(92, 189, 73));
    animation: fadeAway 5s forwards;
  }

  &.alert-error {
    background: linear-gradient(45deg, #ec360f, #db6146);
  }
}

.collapse-checkbox {
  display: none;
}

.stroke-text {
  background: -webkit-linear-gradient(#eee, #eee);
  -webkit-background-clip: text;
  -webkit-text-stroke: 4px transparent;
  color: $cruz-color-dark-grey;
  padding: 0.3rem;
}

.stroke-text-menu {
  background: -webkit-linear-gradient($cruz-color-yellow-dark, $cruz-color-yellow-dark);
  -webkit-background-clip: text;
  -webkit-text-stroke: 4px transparent;
  color: $cruz-color-dark-grey;
  padding: 0.3rem;
}

h2 {
  transition: 0.3s;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 8rem;
  text-align: center;
  color: white;
  padding-bottom: 5rem;

  @media (max-width: 760px) {
    font-size: 7rem;
  }

  @media (max-width: 500px) {
    font-size: 4rem;
  }
}

h3 {
  transition: 0.3s;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2.5rem;
  color: white;
}

.alert {
  border-radius: 5px;
  width: 50%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5rem 0 0 0;

  .flash-message {
    color: white;
    font-size: 2rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    margin: 1rem 0;
  }

  &.alert-success {
    background: linear-gradient(45deg, rgb(70, 192, 70), rgb(92, 189, 73));
    animation: fadeAway 5s forwards;
  }

  &.alert-error {
    background: linear-gradient(45deg, #ec360f, #db6146);
  }
}

.error-form {
  padding-top: 0.9rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(184, 68, 68);

  span {
    color: white;
    background-color: rgb(184, 68, 68);
    font-size: 1rem;
    font-weight: bold;
    padding: 0.3rem 0.8rem;
    margin-right: 0.5rem;
    border-radius: 50px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  }
}

.hover-shadow {
  display: inline-block;
  position: relative;
  transition-duration: 0.3s;
  transition-property: transform;
  -webkit-tap-highlight-color: transparent;
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;

  &:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: "";
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: radial-gradient(ellipse at center, rgba(252, 252, 252, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    transition-duration: 0.3s;
    transition-property: transform opacity;
  }

  &:hover {
    transform: translateY(-6px);
    animation-name: hover;
    animation-duration: 1.5s;
    animation-delay: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  &:hover:before {
    opacity: 0.4;
    transform: translateY(6px);
    animation-name: hover-shadow;
    animation-duration: 1.5s;
    animation-delay: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}

.fa-chevron-left,
.fa-chevron-right {
  font-size: 5rem;
  color: $cruz-color-yellow-dark;
  margin: 0 2rem;
  cursor: pointer;

  &:hover {
    &.fa-chevron-right {
      animation: bounceRight 0.7s;
    }

    &.fa-chevron-left {
      animation: bounceLeft 0.7s;
    }
  }
}

.container-slider {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;

  .slick-slider {
      width: 100%;
      display: flex;
      justify-content: center;

      button {
          display: flex;
          height: fit-content;
          width: fit-content;
          padding: 1rem 0;

          &.slick-prev {
              text-align: right;
              margin-left: 1rem;
          }

          &.slick-next {
              text-align: left;
              margin-right: 1rem;
          }

          &.slick-disabled {
              opacity: 0;
          }

          &::before {
              color: $cruz-color-yellow-dark;
              font-size: 5rem;
              opacity: 1;
          }
      }

      span {
          width: 10%;
          display: flex;
          justify-content: center;
          align-items: center;

          i {
              color: $cruz-color-yellow-dark;
              font-size: 6rem;
          }
      }

      .slick-list {
          width: 80%;

          .slick-track {
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;

              .slick-slide {
                  div {
                      display: flex;
                      justify-content: center;
                      align-items: center;
                  }
              }
          }
      }
  }
}