@media (max-width: 400px) {
    .container-card {
        width: 90%;
        min-height: fit-content;
        padding: 1rem 0;

        .content-card {
            padding: 1rem 0;
            width: 90%;
            height: fit-content;

            img {
                width: 80px;
            }

            h3 {
                font-size: 1.5rem;
                padding-bottom: 1rem;
            }

            p {
                font-size: 0.8rem;
            }

            .btn-card {
                font-size: 0.8rem;
            }
        }
    }
}