@include extra-large {
    .contact-page {
        #contact {
            width: 80vw;
        }
    }
}

@include large {
    .contact-page {
        form {
            width: 80%;
        }
    }
}

@media (max-width: 850px) {
    .contact-page {
        h2 {
            font-size: 4rem;
        }
    }
}

@media (max-width: 450px) {
    .contact-page {
        h2 {
            font-size: 3rem;
        }
    }
}