@media (max-width:1200px) {
    .cruz-logo {
        img {
            width: 7rem;
            top: 5rem;
            left: 5rem;
            opacity: 1;
        }
    } 
}

@media (max-width: 991px) {
    .cruz-header {
        .header-menu {
            ul {
                li {
                    margin: 2rem;
                    
                    a {
                        font-size: 8rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .cruz-header {
        .header-menu {
            ul {
                li {
                    a {
                        font-size: 6rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 330px) {
    .cruz-header {
        .header-menu {
            ul {
                li {
                    a {
                        font-size: 5rem;
                    }
                }
            }
        }
    }
}