@media (max-width: 991px) {
    .cruz-header {
        .header-menu {
            ul {
                li {
                    margin: 2rem;
                    
                    a {
                        font-size: 8rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .cruz-logo {
        img {
            top: 4rem !important;
        }
    }
    .cruz-header {
        .header-menu {
            ul {
                li {
                    a {
                        font-size: 6rem;
                    }
                }
            }
        }
    }

    .hamburger {
        top: 3rem;
    }
}

@media (max-width: 330px) {
    .cruz-header {
        .header-menu {
            ul {
                li {
                    a {
                        font-size: 5rem;
                    }
                }
            }
        }
    }
}