@media (max-width: 1200px) {
    .container-wrap-list {
        width: 70% !important;
    }
}

@media (max-width: 1000px) {
    .container-wrap-list {
        width: 80% !important;
    }
}

@media (max-width: 800px) {
    .container-wrap-list {
        width: 90% !important;
    }
}

@media (max-width: 600px) {
    .container-wrap-list {
        width: 90%;

        .wrap-list-elem {
            &:hover {
                h5 {
                    transform: translateX(-50%) translateY(-50%) scale(4);
                }
            }
            
            .logo-tools {
                width: 50px;
                height: 50px;
            }
        }
    }
}

@media (max-width: 400px) {
    .container-wrap-list {
        .wrap-list-elem {
            .logo-tools {
                width: 35px;
                height: 35px;
            }
        }
    }
}