.contact-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h2 {
        padding: 10rem 0 5rem 0;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 80%;
        width: 50%;

        .contact-form {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .reverse-form {
                width: 100%;
                display: flex;
                justify-content: center;
                flex-direction: column-reverse;
                padding: 1.5rem 0;

                label {
                    font-size: 2rem;
                    font-weight: bold;
                    color: white;
                    text-transform: uppercase;
                    padding: 1rem;

                    &::first-letter {
                      text-transform: uppercase;
                    }
                }

                input:not([type='checkbox']),
                textarea {
                    font-size: 1.8rem;
                    font-weight: bold;
                    color: $cruz-color-yellow-dark;
                    border: none;
                    outline: none;
                    width: 100%;
                    padding: 0 2rem;
                    border-radius: 10px;
                    background-color: transparent;
                    -webkit-appearance: none;
                    box-shadow: inset -2px -2px 6px rgba(255,255,255,0.1), inset 2px 2px 6px rgba(0,0,0,0.8);
                    
                    &:focus-within {
                        + label {
                            color: $cruz-color-yellow-dark;
                        }
                    }
                }

                input {
                    height: 5rem;
                }

                input:focus,
                textarea:focus {

                    + label {
                        color: $cruz-color-yellow-dark;
                    }
                }

                textarea {
                    height: 15rem;
                    resize: none;
                    border-radius: 10px;
                    padding: 1rem 2rem;
                }
            }
        }
    }

    .btn {
        color: white;
        outline: none;
        align-self: flex-end;
        background-color: $cruz-dark-grey;
        border: none;
        text-transform: uppercase;
        border-radius: 40px;
        padding: 1rem 5rem;
        font-size:  2rem;
        font-weight: bold;
        margin: 3rem 0 0 0;
        cursor: pointer;
        box-shadow: -2px -2px 6px rgba(255,255,255,0.1),
        2px 2px 6px rgba(0,0,0,0.8);
        
        &:active {
            box-shadow: inset -2px -2px 6px rgba(255,255,255,0.1),
            inset 2px 2px 6px rgba(0,0,0,0.8);
        }
        
        i {
            color: white;
            font-size: 3rem;
            animation: wiggle 1s;
        }

        @keyframes wiggle {
            0% {transform: rotate(10deg);}
            25% {transform: rotate(-10deg);}
            50% {transform: rotate(10deg);}
            75% {transform: rotate(-5deg);}
            100% {transform: rotate(0deg);}
        }

        .loader {
            position: relative;
            margin: auto;
            cursor: wait;
            display: block;
            width: 2rem;
            height: 2rem;
            box-sizing: border-box;
            border-top: 0.2rem solid white;
            border-left: 0.2rem solid transparent;
            border-right: 0.2rem solid transparent;
            border-bottom: 0.2rem solid transparent;
            border-radius: 100%;
            animation: spin 0.6s ease-out infinite;
            background-color: transparent;
        }
        
        @keyframes spin {
            100% {transform: rotate(360deg)}
        }
    }
}