.perso-presentation {
    display: flex;
    justify-content: space-between;
    height: 105vh;
    margin: 0 10rem;

    img {
        width: 45%;
        object-fit: cover;
        align-self: flex-end;
    }

    .info-perso {
        width: 55%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;

        h1 {
            width: 100%;
            font-size: 13rem;
            text-align: right;
            font-weight: 800;
            text-transform: uppercase;
            line-height: 14rem;

            strong {
                -webkit-text-stroke-color: $cruz-color-yellow-dark;
            }
        }

        p {
            color: $cruz-color-white;
            font-size: 2.5rem;
            font-weight: bold;
            letter-spacing: 0.2rem;
            margin: 2rem 0 5rem 0;
        }

        ul {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 40%;

            li {
                a {
                    text-decoration: none;
                    i {
                        color: $cruz-color-white;
                        font-size: 4rem;
                        transition: 1s;

                        &:hover {
                            color: $cruz-color-yellow-dark;
                            transition: 1s;
                            animation: tilt 0.5s;
                        }
                    }
                }
            }
        }

        .cv {
            margin-top: 7rem;
            padding: 1.5rem 2rem;
            background: $gradient-yellow;
            font-size: 1.8rem;
            font-weight: bold;
            text-transform: uppercase;
            color: black;
            border-radius: 50px;
            box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);

            i {
                margin-right: 2rem;
                margin-left: 0.5rem;
                font-size: 2rem;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }

    .scroll {
        position: absolute;
        cursor: pointer;
        left: 50%;
        transform: translateX(50%);
        bottom: 2rem;
        animation: bounceUp 4s infinite;
        transform: translateX(-50%);
        animation-delay: 1s;

        img {
            width: 9rem;
        }
    }
}

.about-perso {
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem 0;
    margin-top: 2rem;
    margin-bottom: 10rem;

    * {
        position: relative;
    }

    h2 {
        strong {
            color: $cruz-color-grey;
        }
    }

    p {
        color: $cruz-color-white;
        font-size: 1.8rem;
        width: 70%;
        margin: auto;
        text-align: justify;
        line-height: 3rem;
    }

    &:before {
        position: absolute;
        background-color: $cruz-color-grey;
        content: "";
        display: block;
        width: 100%;
        height: 120%;
        transform: skewY(2deg);
        box-shadow: 0px 0px 20px 0px $cruz-color-light-grey;
    }
}

.studies {
    margin: 15rem 10rem;

    .studies-content {
        display: flex;
        justify-content: center;
        align-items: center;

        .roadmap {
            height: 100%;
            width: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .roadmap-point {
                width: 10rem;
                height: 10rem;
                border-radius: 10rem;
                box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.1), 2px 2px 6px rgba(0, 0, 0, 0.8);
                display: flex;
                justify-content: center;
                align-items: center;

                i {
                    color: $cruz-color-yellow-dark;
                    font-size: 5rem;
                }
            }

            svg {
                margin: 1rem 0;
                line {
                    stroke: $cruz-color-white;
                    stroke-width: 15;
                    stroke-dasharray: 0 40;
                    stroke-linecap: round;
                }
            }
        }

        .studies-list {
            width: 80%;
            height: 100%;
            display: flex;
            flex-direction: column;

            .studies-elem {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: flex-start;
                margin: 3.5rem 0;
                position: relative;
                min-height: 20rem;

                .studies-info {
                    h3 {
                        text-transform: none;
                    }

                    p {
                        color: $cruz-color-yellow-dark;
                        font-size: 1.8rem;
                        margin: 1rem 0;
                    }

                    ul {
                        list-style: disc;

                        li {
                            color: $cruz-color-white;
                            margin: 0.6rem 1.5rem 0.6rem;
                            font-size: 1.5rem;
                        }
                    }
                }

                img {
                    position: absolute;
                    right: 15rem;
                    width: 15%;
                }
            }
        }
    }
}

.experiences {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 1;
    margin-bottom: 15rem;
    padding: 0 10rem;

    * {
        position: relative;
        z-index: 1;
    }

    &:before {
        position: absolute;
        background-color: $cruz-color-grey;
        content: "";
        display: block;
        width: 100%;
        height: 110%;
        transform: skewY(2deg);
        box-shadow: 0px 0px 20px 0px $cruz-color-light-grey;
    }

    h2 {
        padding: 5rem 0;
        width: 100%;
        strong {
            color: $cruz-color-grey;
        }
    }

    .experience-card {
        width: 45%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 5rem 0;

        img {
            width: 50%;
            max-height: 10rem;
            object-fit: contain;
        }

        h3 {
            margin-top: 5rem;
        }

        p {
            color: $cruz-color-yellow-dark;
            margin: 2rem 0;
            font-size: 1.6rem;
        }

        hr {
            width: 40%;
            height: 3px;
            background-color: $cruz-color-white;
        }

        ul {
            list-style: disc;
            margin: 3rem 0;
            width: 60%;
            font-size: 1.3rem;

            li {
                color: $cruz-color-white;
                margin: 0.6rem 1.5rem 0.6rem;
                font-size: 1.5rem;
            }
        }
    }
}

.related-project {
    padding-top: 5rem;

    * {
        position: relative;
    }
}

.related-tools {
    margin: 15rem 0;

    &:not(.skew) {
        h2 {
            padding-top: 8rem;
        }
    }

    &.skew {
        z-index: 1;
        position: relative;

        * {
            z-index: 1;
            position: relative;
        }

        &:before {
            position: absolute;
            background-color: $cruz-color-grey;
            content: "";
            display: block;
            width: 100%;
            height: 110%;
            transform: skewY(2deg);
            box-shadow: 0px 0px 20px 0px $cruz-color-light-grey;
        }

        h2 {
            padding-top: 10rem;
            strong {
                color: $cruz-color-grey;
            }
        }
    }

    .container-wrap-list {
        width: 60%;
    }
}

.related-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    position: relative;

    * {
        z-index: 1;
        position: relative;
    }

    &:before {
        position: absolute;
        background-color: $cruz-color-grey;
        content: "";
        display: block;
        width: 100%;
        height: 160%;
        transform: skewY(2deg);
        box-shadow: 0px 0px 20px 0px $cruz-color-light-grey;
    }

    h2 {
        width: 100%;
        margin: 3rem 0;
        strong {
            color: $cruz-color-grey;
        }
    }

    .skills-card {
        width: 25%;
        height: 10rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 15px;
        box-shadow: -11px 11px 22px rgba(33, 31, 31, 0.2), 11px -11px 22px rgba(33, 31, 31, 0.2),
            -11px -11px 22px rgba(55, 53, 53, 0.9), 11px 11px 28px rgba(33, 31, 31, 0.9),
            inset 1px 1px 2px rgba(55, 53, 53, 0.3), inset -1px -1px 2px rgba(33, 31, 31, 0.5);

        h4 {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 1.7rem;
            margin-right: 2rem;
        }
    }
}
