.project{
    margin: 0 6rem;
    .presentation {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        h1 {
            margin-top: 11rem;
            font-size: 10rem;
            font-weight: 800;
            text-transform: uppercase;
            text-align: center;

        }

        .presentation-infos {
            width: 90%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            .presentation-img {
                max-height: 400px;
                max-width: 45%;
            }
    
            .presentation-text {
                width: 50%;
                margin: 2rem 0;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
    
                h2 {
                    font-size: 5rem;
                }
    
                p {
                    text-align: justify;
                    color: white;
                    font-size: 1.7rem;
                    margin-bottom: 5rem;
                    line-height: 150%;
                }
    
                .links {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    a {
                        margin-left: 2rem;
                        padding: 1.3rem 2rem;
                        background: $gradient-yellow;
                        font-size: 1.8rem;
                        font-weight: bold;
                        text-transform: uppercase;
                        color: black;
                        border-radius: 25px;
                        box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);
    
                        i {
                            margin-right: 1rem;
                        }
                    }
                }
            }
        }

        picture {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            margin-bottom: 1rem;
            
            img {
                width: 9rem;
            }
            
        }
    }
}