.main-squad {
  h2 {
    padding: 10rem 0;
    .stroke-text {
      color: $cruz-color-dark-grey;
    }
  }
  
  .squad {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    .card-member {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 30%;
      padding: 2rem 0;
      
      .card {
        width: 90%;
        transition: 0.5s;
        position: relative;
        box-shadow: 10px 10px 15px 0px rgb(0, 0, 0);
        border-radius: 5px;
        
        img {
          width: 100%;
          border-radius: 5px;
          filter: grayscale(1);
        }
        
        .overlay {
          visibility: hidden;
          opacity: 0;
          background-color: $cruz-color-black-opac-strong;
          color: $cruz-color-white;
          position: absolute;
          top: 0;
          height: 100%;
          width: 100%;
          transition: 0.3s;
          overflow: hidden;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          border-radius: 5px;
          
          .member-name {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            
            .role {
              width: auto;
              font-size: 1.2rem;
              text-transform: uppercase;
              border: 1px solid $cruz-color-yellow-dark;
              border-radius: 25px;
              color: $cruz-color-yellow-dark;
              padding: 0.8rem;
              margin: 2rem;
            }
            
            h3 {
              font-weight: bold;
            }
            
            .spe {
              margin: 0.7rem 0;
              font-size: 1.5rem;
              font-weight: bold;
            }
          }
          
          hr {
            height: 4px;
            width: 30%;
            margin: 1rem;
            background-color: $cruz-color-yellow-dark;
            border: none;
            box-shadow: 0px 0px 15px 3px rgb(0, 0, 0);
          }
          
          .member-desc {
            padding: 0 2rem;
            font-size: 1.5rem;
            text-align: justify;
          }
          
          .socials {
            a:not(.btn-more) {
              i {
                font-size: 5rem;
                color: $cruz-color-white;
                transition: 0.3s;
                margin: 3rem 1rem;
                
                &:hover {
                  color: $cruz-color-yellow-dark;
                  animation: tilt 0.5s;
                  transition: 0.5s;
                }
              }
            }
          }
          
          .btn-more {
            margin-top: 4rem;
            
            a, button {
              padding: 1.3rem 2rem;
              background: $gradient-yellow;
              font-size: 1.6rem;
              font-weight: bold;
              text-transform: uppercase;
              color: white;
              border-radius: 25px;
              text-decoration: none;
              box-shadow: 0px 0px 15px 3px rgb(0, 0, 0);
              
              &.unavailable {
                border: none;
                background: $cruz-color-light-grey;

                i {
                  margin-right: 1rem;
                  font-size: 1.5rem;
                }

                &:hover {
                  cursor: not-allowed;
                  transform: translateY(0);
                  animation: none;
                }
              }
            }
          }
        }
        
        &:hover {
          width: 87%;
          
          .overlay {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }
}
